.logo{
    width: 100px;
}
header{
    background: #00000000 !important; 
    /* backdrop-filter: blur(100px) !important;
    position: sticky !important;
    top: 0px !important; */
    backdrop-filter: blur(1px);
    z-index: 1020;
}
header .nav-link{
    font-size: 0.8rem;
    color: #fff !important;
    letter-spacing: 1.8px;
}
header .nav-link:hover{
    color: #109f6b !important;
}
.dropdown-menu{
    border-radius: 0px !important;
    background-color: #1a1e25 !important;

}
.dropdown-item{
    padding: 10px !important;
    
}
.dropdown-item{
    color: #fff !important;
}
.dropdown-item:hover{
    color: #1a1e25 !important;
}
.offcanvas ul{
    list-style-type: none;
    line-height: 3;
    padding: 0px;
    color: #109f6b;
}
.offcanvas ul li a{
    color: #fff;
    font-size: 1.3rem;
    text-decoration: none;
}
.offcanvas ul li{
    /* border-bottom: 1px solid #ccc; */
}
.contact-icon1{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: #ffffff2d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
}